<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <meta name="referrer" content="origin">

    <title>{{ page_title }}</title>

    {{ content_for_header }}

    {{ checkout_stylesheets }}
    {{ checkout_scripts }}
    
    <script async defer src="https://tools.luckyorange.com/core/lo.js?site-id=cfc66604"></script>
    
    
  {% render 'weglot_hreftags' %}
{% render 'weglot_switcher' %}
</head>
  <body>
    {{ skip_to_content_link }}

    <header class="banner" data-header role="banner">
      <div class="wrap">
        {{ content_for_logo }}
      </div>
    </header>

    {{ order_summary_toggle }}
    <div class="content" data-content>
      <div class="wrap">
        <div class="main">
          <header class="main__header" role="banner">
            {{ content_for_logo }}
            {{ breadcrumb }}
            {{ alternative_payment_methods }}
          </header>
          <main class="main__content" role="main">
            {{ content_for_layout }}
          </main>
          <footer class="main__footer" role="contentinfo">
            {{ content_for_footer }}
          </footer>
        </div>
        <aside class="sidebar" role="complementary">
          <div class="sidebar__header">
            {{ content_for_logo }}
          </div>
          <div class="sidebar__content">
            {{ content_for_order_summary }}
          </div>
        </aside>
      </div>
    </div>

    {{ tracking_code }}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      $(document).ready(function(){
        if($('[data-step="contact_information"]').length){
          $("#checkout_billing_address_first_name").val("Art");
          $("#checkout_billing_address_last_name").val("Logo");
          $("#checkout_billing_address_address1").val("3118 Watson Street");
          $("#checkout_billing_address_city").val("Maple Shade");
          $("#checkout_billing_address_zip").val("08052");
          $("#checkout_billing_address_phone").val("609-694-1633");
          $("#checkout_billing_address_country").val("United States").change();
          $("#checkout_billing_address_province").val("NJ").change();
        }
      });
    </script>
    <style>.section.section--billing-address {display:none;}
    	   .section .content-box .content-box__row--tight-spacing-vertical {display:none;}
    </style>
  
  </body>
</html>
