<section class="section-how grey-bg py-5 d-none-artlogo">
  <div class="py-md-5">
    <div class="container">
      {% if section.settings.title != blank %}
      <div class="section-header text-center">
        <h2>{{ section.settings.title }}</h2>
      </div>
      {% endif %}
      
      {% if section.blocks.size > 0 %}
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'image-with-text' -%}
            <div class="row">
              {% if block.settings.layout == 'left' %}
              <div class="col-md-6">
                <img width="543" height="364" loading="lazy" src="{{ block.settings.image | img_url:'master' }}" alt="{{ block.settings.image.alt }}" class="radi" width="100%" />
              </div>
              {% endif %}
              <div class="{% if block.settings.layout == 'left' %}col-md-5 offset-md-1 d-flex align-items-center{% else %}col-md-5 d-flex align-items-center{% endif %}">
                <div>
                  {% if block.settings.title != blank %}
                  <h4>{{ block.settings.title }}</h4>
                  {% endif %}
                  {% if block.settings.text != blank %}
                  <div class="rte">
                    {{ block.settings.text }}
                  </div>
                  {% endif %}
                </div>
              </div>
              {% if block.settings.layout == 'right' %}
              <div class="col-md-6 offset-md-1">
                <img width="543" height="364" loading="lazy" src="{{ block.settings.image | img_url:'master' }}" alt="{{ block.settings.image.alt }}" class="radi" width="100%" />
              </div>
              {% endif %}
            </div>
      
        	{%- when 'highlight-block' -%}
            <div class="miniwra">
              <div class="d-md-flex align-items-center justify-content-md-between">
                <h4>{{ block.settings.title }}</h4>
                {% if block.settings.button_link != blank %}
                <a href="{% if block.settings.button_link == blank %}javascript:void(0);{% else %}{{ block.settings.button_link }}{% endif %}" class="button">
                  {{ block.settings.button_label }}
                </a>
                {% endif %}
              </div>
            </div>
        
          {%- endcase -%}
        {%- endfor -%}
      {% endif %}
      
    </div>
  </div>
</section>

<section class="section-how py-5 grey-bg d-block-artlogo d-none-desktop">
  <div class="container">
    <div class="row">
      {% if section.settings.title != blank %}
      <div class="section-header text-center">
        <h2>{{ section.settings.title }}</h2>
      </div>
      {% endif %}
      {% if section.blocks.size > 0 %}
      <div class="owl-carousel owl-3 owl-theme text-center">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'image-with-text' -%}
            <div class="col item">
              <div class="first-section-carousel">
                <img width="543" height="364" class="owl-lazy" data-src="{{ block.settings.image | img_url:'master' }}" alt="{{ block.settings.image.alt }}" />
                {% if block.settings.title != blank %}
                <h4>{{ block.settings.title }}</h4>
                {% endif %}
                {% if block.settings.text != blank %}
                <div class="rte">
                  {{ block.settings.text }}
                </div>
                {% endif %}
              </div>
            </div>
          {%- endcase -%}
        {%- endfor -%}
        </div>
      {% endif %}
    </div>
    
    {% if section.blocks.size > 0 %}
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'highlight-block' -%}
          <div class="miniwra miniwra-{{ forloop.index }}">
            <h4>{{ block.settings.title }}</h4>
            {% if block.settings.button_link != blank %}
            <a href="{% if block.settings.button_link == blank %}javascript:void(0);{% else %}{{ block.settings.button_link }}{% endif %}" class="button">
              {{ block.settings.button_label }}
            </a>
            {% endif %}
          </div>
        {%- endcase -%}
      {%- endfor -%}
    {% endif %}

  </div>
</section>

{% schema %}
  {
    "name": "Home image & text",
    "settings": [
	  
	  {
        "type": "text",
        "id": "title",
		"default": "Heading",
        "label": "Title"
      }
    ],
	"blocks": [
	  {
        "type": "image-with-text",
        "name": "Image with text",
        "settings": [
		  {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
		  {
            "type": "select",
            "id": "layout",
            "label": "Image alignment",
            "default": "left",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ]
          },
		  {
            "type": "text",
            "id": "title",
            "default": "Heading",
            "label": "Title"
          },
		  {
            "type": "richtext",
            "id": "text",
            "default": "<p>Share information about your brand with your customers. Describe a product, make announcements, or welcome customers to your store.</p>",
            "label": "Text"
          }
        ]
      },
      {
        "type": "highlight-block",
        "name": "Highlight block",
        "settings": [
		  {
            "type": "text",
            "id": "title",
            "default": "Heading",
            "label": "Title"
          },
		  {
            "type": "text",
            "id": "button_label",
            "default": "Button label",
            "label": "Button label"
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "Button link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Home image & text"
      }
    ]
  }
{% endschema %}
