<section class="secion-competition pb-5 mb-md-5">
  <div class="container text-center">
    {% if section.settings.title != blank %}<h4>{{section.settings.title}}</h4>{% endif %}
    <div id="mobi">
      
		{%- for block in section.blocks -%}
        	{% if forloop.index == 1 %}
      			<div class="tags-btn">
        		{% if block.settings.tag-text_1 !=blank %}<a href="{% if block.settings.tag-link_1 != blank %}{{block.settings.tag-link_1}}{% else %}javascript:void(0);{% endif %}">{{block.settings.tag-text_1}}</a>{% endif %}
       			{% if block.settings.tag-text_2 !=blank %}<a href="{% if block.settings.tag-link_2 != blank %}{{block.settings.tag-link_2}}{% else %}javascript:void(0);{% endif %}">{{block.settings.tag-text_2}}</a>{% endif %}
        		{% if block.settings.tag-text_3 !=blank %}<a href="{% if block.settings.tag-link_3 != blank %}{{block.settings.tag-link_3}}{% else %}javascript:void(0);{% endif %}">{{block.settings.tag-text_3}}</a>{% endif %}
        		{% if block.settings.tag-text_4 !=blank %}<a href="{% if block.settings.tag-link_4 != blank %}{{block.settings.tag-link_4}}{% else %}javascript:void(0);{% endif %}">{{block.settings.tag-text_4}}</a>{% endif %}
				{% if block.settings.tag-text_5 !=blank %}<a href="{% if block.settings.tag-link_5 != blank %}{{block.settings.tag-link_5}}{% else %}javascript:void(0);{% endif %}">{{block.settings.tag-text_5}}</a>{% endif %}
        		{% if block.settings.tag-text_6 !=blank %}<a href="{% if block.settings.tag-link_6 != blank %}{{block.settings.tag-link_6}}{% else %}javascript:void(0);{% endif %}">{{block.settings.tag-text_6}}</a>{% endif %}
        		{% if block.settings.tag-text_7 !=blank %}<a href="{% if block.settings.tag-link_7 != blank %}{{block.settings.tag-link_7}}{% else %}javascript:void(0);{% endif %}">{{block.settings.tag-text_7}}</a>{% endif %}
        		{% if block.settings.tag-text_8 !=blank %}<a href="{% if block.settings.tag-link_8 != blank %}{{block.settings.tag-link_8}}{% else %}javascript:void(0);{% endif %}">{{block.settings.tag-text_8}}</a>{% endif %}
        		{% if block.settings.tag-text_9 !=blank %}<a href="{% if block.settings.tag-link_9 != blank %}{{block.settings.tag-link_9}}{% else %}javascript:void(0);{% endif %}">{{block.settings.tag-text_8}}</a>{% endif %}
                </div>
        	{% endif %}
        {%- endfor -%}
      
        {%- for block in section.blocks -%}
        	{% if forloop.index == 2 %}
    			<div class="tags-btn">
        		{% if block.settings.tag-text_1 !=blank %}<a href="{% if block.settings.tag-link_1 != blank %}{{block.settings.tag-link_1}}{% else %}javascript:void(0);{% endif %}">{{block.settings.tag-text_1}}</a>{% endif %}
       			{% if block.settings.tag-text_2 !=blank %}<a href="{% if block.settings.tag-link_2 != blank %}{{block.settings.tag-link_2}}{% else %}javascript:void(0);{% endif %}">{{block.settings.tag-text_2}}</a>{% endif %}
        		{% if block.settings.tag-text_3 !=blank %}<a href="{% if block.settings.tag-link_3 != blank %}{{block.settings.tag-link_3}}{% else %}javascript:void(0);{% endif %}">{{block.settings.tag-text_3}}</a>{% endif %}
        		{% if block.settings.tag-text_4 !=blank %}<a href="{% if block.settings.tag-link_4 != blank %}{{block.settings.tag-link_4}}{% else %}javascript:void(0);{% endif %}">{{block.settings.tag-text_4}}</a>{% endif %}
				{% if block.settings.tag-text_5 !=blank %}<a href="{% if block.settings.tag-link_5 != blank %}{{block.settings.tag-link_5}}{% else %}javascript:void(0);{% endif %}">{{block.settings.tag-text_5}}</a>{% endif %}
        		{% if block.settings.tag-text_6 !=blank %}<a href="{% if block.settings.tag-link_6 != blank %}{{block.settings.tag-link_6}}{% else %}javascript:void(0);{% endif %}">{{block.settings.tag-text_6}}</a>{% endif %}
        		{% if block.settings.tag-text_7 !=blank %}<a href="{% if block.settings.tag-link_7 != blank %}{{block.settings.tag-link_7}}{% else %}javascript:void(0);{% endif %}">{{block.settings.tag-text_7}}</a>{% endif %}
        		{% if block.settings.tag-text_8 !=blank %}<a href="{% if block.settings.tag-link_8 != blank %}{{block.settings.tag-link_8}}{% else %}javascript:void(0);{% endif %}">{{block.settings.tag-text_8}}</a>{% endif %}
        		{% if block.settings.tag-text_9 !=blank %}<a href="{% if block.settings.tag-link_9 != blank %}{{block.settings.tag-link_9}}{% else %}javascript:void(0);{% endif %}">{{block.settings.tag-text_9}}</a>{% endif %}
                </div>
        	{% endif %}
        {%- endfor -%}
      
        {%- for block in section.blocks -%}
        	{% if forloop.index == 3 %}
  				<div class="tags-btn">
        		{% if block.settings.tag-text_1 !=blank %}<a href="{% if block.settings.tag-link_1 != blank %}{{block.settings.tag-link_1}}{% else %}javascript:void(0);{% endif %}">{{block.settings.tag-text_1}}</a>{% endif %}
       			{% if block.settings.tag-text_2 !=blank %}<a href="{% if block.settings.tag-link_2 != blank %}{{block.settings.tag-link_2}}{% else %}javascript:void(0);{% endif %}">{{block.settings.tag-text_2}}</a>{% endif %}
        		{% if block.settings.tag-text_3 !=blank %}<a href="{% if block.settings.tag-link_3 != blank %}{{block.settings.tag-link_3}}{% else %}javascript:void(0);{% endif %}">{{block.settings.tag-text_3}}</a>{% endif %}
        		{% if block.settings.tag-text_4 !=blank %}<a href="{% if block.settings.tag-link_4 != blank %}{{block.settings.tag-link_4}}{% else %}javascript:void(0);{% endif %}">{{block.settings.tag-text_4}}</a>{% endif %}
				{% if block.settings.tag-text_5 !=blank %}<a href="{% if block.settings.tag-link_5 != blank %}{{block.settings.tag-link_5}}{% else %}javascript:void(0);{% endif %}">{{block.settings.tag-text_5}}</a>{% endif %}
        		{% if block.settings.tag-text_6 !=blank %}<a href="{% if block.settings.tag-link_6 != blank %}{{block.settings.tag-link_6}}{% else %}javascript:void(0);{% endif %}">{{block.settings.tag-text_6}}</a>{% endif %}
        		{% if block.settings.tag-text_7 !=blank %}<a href="{% if block.settings.tag-link_7 != blank %}{{block.settings.tag-link_7}}{% else %}javascript:void(0);{% endif %}">{{block.settings.tag-text_7}}</a>{% endif %}
        		{% if block.settings.tag-text_8 !=blank %}<a href="{% if block.settings.tag-link_8 != blank %}{{block.settings.tag-link_8}}{% else %}javascript:void(0);{% endif %}">{{block.settings.tag-text_8}}</a>{% endif %}
        		{% if block.settings.tag-text_9 !=blank %}<a href="{% if block.settings.tag-link_9 != blank %}{{block.settings.tag-link_9}}{% else %}javascript:void(0);{% endif %}">{{block.settings.tag-text_9}}</a>{% endif %}
                </div>
        	{% endif %}
        {%- endfor -%}
      
        {%- for block in section.blocks -%}
        	{% if forloop.index > 3 %}
				<div class="tags-btn">
        		{% if block.settings.tag-text_1 !=blank %}<a href="{% if block.settings.tag-link_1 != blank %}{{block.settings.tag-link_1}}{% else %}javascript:void(0);{% endif %}">{{block.settings.tag-text_1}}</a>{% endif %}
       			{% if block.settings.tag-text_2 !=blank %}<a href="{% if block.settings.tag-link_2 != blank %}{{block.settings.tag-link_2}}{% else %}javascript:void(0);{% endif %}">{{block.settings.tag-text_2}}</a>{% endif %}
        		{% if block.settings.tag-text_3 !=blank %}<a href="{% if block.settings.tag-link_3 != blank %}{{block.settings.tag-link_3}}{% else %}javascript:void(0);{% endif %}">{{block.settings.tag-text_3}}</a>{% endif %}
        		{% if block.settings.tag-text_4 !=blank %}<a href="{% if block.settings.tag-link_4 != blank %}{{block.settings.tag-link_4}}{% else %}javascript:void(0);{% endif %}">{{block.settings.tag-text_4}}</a>{% endif %}
				{% if block.settings.tag-text_5 !=blank %}<a href="{% if block.settings.tag-link_5 != blank %}{{block.settings.tag-link_5}}{% else %}javascript:void(0);{% endif %}">{{block.settings.tag-text_5}}</a>{% endif %}
        		{% if block.settings.tag-text_6 !=blank %}<a href="{% if block.settings.tag-link_6 != blank %}{{block.settings.tag-link_6}}{% else %}javascript:void(0);{% endif %}">{{block.settings.tag-text_6}}</a>{% endif %}
        		{% if block.settings.tag-text_7 !=blank %}<a href="{% if block.settings.tag-link_7 != blank %}{{block.settings.tag-link_7}}{% else %}javascript:void(0);{% endif %}">{{block.settings.tag-text_7}}</a>{% endif %}
        		{% if block.settings.tag-text_8 !=blank %}<a href="{% if block.settings.tag-link_8 != blank %}{{block.settings.tag-link_8}}{% else %}javascript:void(0);{% endif %}">{{block.settings.tag-text_8}}</a>{% endif %}
        		{% if block.settings.tag-text_9 !=blank %}<a href="{% if block.settings.tag-link_9 != blank %}{{block.settings.tag-link_9}}{% else %}javascript:void(0);{% endif %}">{{block.settings.tag-text_9}}</a>{% endif %}
                </div>
        	{% endif %}
        {%- endfor -%}
    </div>
    <div id="mobii">
      
      {%- for block in section.blocks -%}
        	{% if forloop.index < 3 %}
      			{% if forloop.index == 1 %}
      			<span id="dots">
                  {% endif %}
      			<div class="tags-btn">
                {% if forloop.index == 1 %}  
                  {% if block.settings.tag-text_1 !=blank %}<a href="{% if block.settings.tag-link_1 != blank %}{{block.settings.tag-link_1}}{% else %}javascript:void(0);{% endif %}">{{block.settings.tag-text_1}}</a>{% endif %}
                  {% if block.settings.tag-text_2 !=blank %}<a href="{% if block.settings.tag-link_2 != blank %}{{block.settings.tag-link_2}}{% else %}javascript:void(0);{% endif %}">{{block.settings.tag-text_2}}</a>{% endif %}
                  {% if block.settings.tag-text_3 !=blank %}<a href="{% if block.settings.tag-link_3 != blank %}{{block.settings.tag-link_3}}{% else %}javascript:void(0);{% endif %}">{{block.settings.tag-text_3}}</a>{% endif %}
                  {% if block.settings.tag-text_4 !=blank %}<a href="{% if block.settings.tag-link_4 != blank %}{{block.settings.tag-link_4}}{% else %}javascript:void(0);{% endif %}">{{block.settings.tag-text_4}}</a>{% endif %}
                  {% if block.settings.tag-text_5 !=blank %}<a href="{% if block.settings.tag-link_5 != blank %}{{block.settings.tag-link_5}}{% else %}javascript:void(0);{% endif %}">{{block.settings.tag-text_5}}</a>{% endif %}
                  {% if block.settings.tag-text_6 !=blank %}<a href="{% if block.settings.tag-link_6 != blank %}{{block.settings.tag-link_6}}{% else %}javascript:void(0);{% endif %}">{{block.settings.tag-text_6}}</a>{% endif %}
                  {% if block.settings.tag-text_7 !=blank %}<a href="{% if block.settings.tag-link_7 != blank %}{{block.settings.tag-link_7}}{% else %}javascript:void(0);{% endif %}">{{block.settings.tag-text_7}}</a>{% endif %}
                  {% if block.settings.tag-text_8 !=blank %}<a href="{% if block.settings.tag-link_8 != blank %}{{block.settings.tag-link_8}}{% else %}javascript:void(0);{% endif %}">{{block.settings.tag-text_8}}</a>{% endif %}
                  {% if block.settings.tag-text_9 !=blank %}<a href="{% if block.settings.tag-link_9 != blank %}{{block.settings.tag-link_9}}{% else %}javascript:void(0);{% endif %}">{{block.settings.tag-text_9}}</a>{% endif %}
                {% endif %}
                {% if forloop.index == 2 %} 
                  {% if block.settings.tag-text_1 !=blank %}<a href="{% if block.settings.tag-link_1 != blank %}{{block.settings.tag-link_1}}{% else %}javascript:void(0);{% endif %}">{{block.settings.tag-text_1}}</a>{% endif %}
                  {% if block.settings.tag-text_2 !=blank %}<a href="{% if block.settings.tag-link_2 != blank %}{{block.settings.tag-link_2}}{% else %}javascript:void(0);{% endif %}">{{block.settings.tag-text_2}}</a>{% endif %}
                {% endif %}
      			</div>
                  {% if forloop.index == 2 %}
                </span>
      				{% endif %}
      			{% if forloop.index == 2 %}
      			<span id="more">
                
                  <div class="tags-btn">
                  {%- for block2 in section.blocks -%}
                    {% if forloop.index == 1 %}
                      {% if block2.settings.tag-text_1 !=blank %}<a href="{% if block.settings.tag-link_1 != blank %}{{block2.settings.tag-link_1}}{% else %}javascript:void(0);{% endif %}">{{block2.settings.tag-text_1}}</a>{% endif %}
                  	  {% if block2.settings.tag-text_2 !=blank %}<a href="{% if block.settings.tag-link_2 != blank %}{{block2.settings.tag-link_2}}{% else %}javascript:void(0);{% endif %}">{{block2.settings.tag-text_2}}</a>{% endif %}
                      {% if block2.settings.tag-text_3 !=blank %}<a href="{% if block.settings.tag-link_3 != blank %}{{block2.settings.tag-link_3}}{% else %}javascript:void(0);{% endif %}">{{block2.settings.tag-text_3}}</a>{% endif %}
                      {% if block2.settings.tag-text_4 !=blank %}<a href="{% if block.settings.tag-link_4 != blank %}{{block2.settings.tag-link_4}}{% else %}javascript:void(0);{% endif %}">{{block2.settings.tag-text_4}}</a>{% endif %}
                      {% if block2.settings.tag-text_5 !=blank %}<a href="{% if block.settings.tag-link_5 != blank %}{{block2.settings.tag-link_5}}{% else %}javascript:void(0);{% endif %}">{{block2.settings.tag-text_5}}</a>{% endif %}
                      {% if block2.settings.tag-text_6 !=blank %}<a href="{% if block.settings.tag-link_6 != blank %}{{block2.settings.tag-link_6}}{% else %}javascript:void(0);{% endif %}">{{block2.settings.tag-text_6}}</a>{% endif %}
                      {% if block2.settings.tag-text_7 !=blank %}<a href="{% if block.settings.tag-link_7 != blank %}{{block2.settings.tag-link_7}}{% else %}javascript:void(0);{% endif %}">{{block2.settings.tag-text_7}}</a>{% endif %}
                      {% if block2.settings.tag-text_8 !=blank %}<a href="{% if block.settings.tag-link_8 != blank %}{{block2.settings.tag-link_8}}{% else %}javascript:void(0);{% endif %}">{{block2.settings.tag-text_8}}</a>{% endif %}
                      {% if block2.settings.tag-text_9 !=blank %}<a href="{% if block.settings.tag-link_9 != blank %}{{block2.settings.tag-link_9}}{% else %}javascript:void(0);{% endif %}">{{block2.settings.tag-text_9}}</a>{% endif %}
                    {% endif %}
                    {% if forloop.index == 2 %}
                      {% if block2.settings.tag-text_1 !=blank %}<a href="{% if block.settings.tag-link_1 != blank %}{{block2.settings.tag-link_1}}{% else %}javascript:void(0);{% endif %}">{{block2.settings.tag-text_1}}</a>{% endif %}
                  	  {% if block2.settings.tag-text_2 !=blank %}<a href="{% if block.settings.tag-link_2 != blank %}{{block2.settings.tag-link_2}}{% else %}javascript:void(0);{% endif %}">{{block2.settings.tag-text_2}}</a>{% endif %}
                      {% if block2.settings.tag-text_3 !=blank %}<a href="{% if block.settings.tag-link_3 != blank %}{{block2.settings.tag-link_3}}{% else %}javascript:void(0);{% endif %}">{{block2.settings.tag-text_3}}</a>{% endif %}
                      {% if block2.settings.tag-text_4 !=blank %}<a href="{% if block.settings.tag-link_4 != blank %}{{block2.settings.tag-link_4}}{% else %}javascript:void(0);{% endif %}">{{block2.settings.tag-text_4}}</a>{% endif %}
                      {% if block2.settings.tag-text_5 !=blank %}<a href="{% if block.settings.tag-link_5 != blank %}{{block2.settings.tag-link_5}}{% else %}javascript:void(0);{% endif %}">{{block2.settings.tag-text_5}}</a>{% endif %}
                      {% if block2.settings.tag-text_6 !=blank %}<a href="{% if block.settings.tag-link_6 != blank %}{{block2.settings.tag-link_6}}{% else %}javascript:void(0);{% endif %}">{{block2.settings.tag-text_6}}</a>{% endif %}
                      {% if block2.settings.tag-text_7 !=blank %}<a href="{% if block.settings.tag-link_7 != blank %}{{block2.settings.tag-link_7}}{% else %}javascript:void(0);{% endif %}">{{block2.settings.tag-text_7}}</a>{% endif %}
                      {% if block2.settings.tag-text_8 !=blank %}<a href="{% if block.settings.tag-link_8 != blank %}{{block2.settings.tag-link_8}}{% else %}javascript:void(0);{% endif %}">{{block2.settings.tag-text_8}}</a>{% endif %}
                      {% if block2.settings.tag-text_9 !=blank %}<a href="{% if block.settings.tag-link_9 != blank %}{{block2.settings.tag-link_9}}{% else %}javascript:void(0);{% endif %}">{{block2.settings.tag-text_9}}</a>{% endif %}
                    {% endif %}
                    {% if forloop.index > 2 %}
                      {% if block2.settings.tag-text_1 !=blank %}<a href="{% if block.settings.tag-link_1 != blank %}{{block2.settings.tag-link_1}}{% else %}javascript:void(0);{% endif %}">{{block2.settings.tag-text_1}}</a>{% endif %}
                  	  {% if block2.settings.tag-text_2 !=blank %}<a href="{% if block.settings.tag-link_2 != blank %}{{block2.settings.tag-link_2}}{% else %}javascript:void(0);{% endif %}">{{block2.settings.tag-text_2}}</a>{% endif %}
                      {% if block2.settings.tag-text_3 !=blank %}<a href="{% if block.settings.tag-link_3 != blank %}{{block2.settings.tag-link_3}}{% else %}javascript:void(0);{% endif %}">{{block2.settings.tag-text_3}}</a>{% endif %}
                      {% if block2.settings.tag-text_4 !=blank %}<a href="{% if block.settings.tag-link_4 != blank %}{{block2.settings.tag-link_4}}{% else %}javascript:void(0);{% endif %}">{{block2.settings.tag-text_4}}</a>{% endif %}
                      {% if block2.settings.tag-text_5 !=blank %}<a href="{% if block.settings.tag-link_5 != blank %}{{block2.settings.tag-link_5}}{% else %}javascript:void(0);{% endif %}">{{block2.settings.tag-text_5}}</a>{% endif %}
                      {% if block2.settings.tag-text_6 !=blank %}<a href="{% if block.settings.tag-link_6 != blank %}{{block2.settings.tag-link_6}}{% else %}javascript:void(0);{% endif %}">{{block2.settings.tag-text_6}}</a>{% endif %}
                      {% if block2.settings.tag-text_7 !=blank %}<a href="{% if block.settings.tag-link_7 != blank %}{{block2.settings.tag-link_7}}{% else %}javascript:void(0);{% endif %}">{{block2.settings.tag-text_7}}</a>{% endif %}
                      {% if block2.settings.tag-text_8 !=blank %}<a href="{% if block.settings.tag-link_8 != blank %}{{block2.settings.tag-link_8}}{% else %}javascript:void(0);{% endif %}">{{block2.settings.tag-text_8}}</a>{% endif %}
                      {% if block2.settings.tag-text_9 !=blank %}<a href="{% if block.settings.tag-link_9 != blank %}{{block2.settings.tag-link_9}}{% else %}javascript:void(0);{% endif %}">{{block2.settings.tag-text_9}}</a>{% endif %}
                    {% endif %}
                  {%- endfor -%}
                  </div>
                  {% endif %}
      			{% if forloop.index == 2 %}
      			</span>
      			{% endif %}
      			{% if forloop.index == 2 %}
      			{% assign count = 0 %}
      			{%- for block3 in section.blocks -%}
      				{% if forloop.index > 1 %}
      				  {% if forloop.index == 2 %}
                        {% if block3.settings.tag-text_3 !=blank %}{% assign count = count | plus:1 %}{% endif %}
                        {% if block3.settings.tag-text_4 !=blank %}{% assign count = count | plus:1 %}{% endif %}
                        {% if block3.settings.tag-text_5 !=blank %}{% assign count = count | plus:1 %}{% endif %}
                        {% if block3.settings.tag-text_6 !=blank %}{% assign count = count | plus:1 %}{% endif %}
                        {% if block3.settings.tag-text_7 !=blank %}{% assign count = count | plus:1 %}{% endif %}
                        {% if block3.settings.tag-text_8 !=blank %}{% assign count = count | plus:1 %}{% endif %}
                        {% if block3.settings.tag-text_9 !=blank %}{% assign count = count | plus:1 %}{% endif %}
      				  {% endif %}
      				  {% if forloop.index > 2 %}
      					{% if block3.settings.tag-text_1 !=blank %}{% assign count = count | plus:1 %}{% endif %}
                  	  	{% if block3.settings.tag-text_2 !=blank %}{% assign count = count | plus:1 %}{% endif %}
                        {% if block3.settings.tag-text_3 !=blank %}{% assign count = count | plus:1 %}{% endif %}
                        {% if block3.settings.tag-text_4 !=blank %}{% assign count = count | plus:1 %}{% endif %}
                        {% if block3.settings.tag-text_5 !=blank %}{% assign count = count | plus:1 %}{% endif %}
                        {% if block3.settings.tag-text_6 !=blank %}{% assign count = count | plus:1 %}{% endif %}
                        {% if block3.settings.tag-text_7 !=blank %}{% assign count = count | plus:1 %}{% endif %}
                        {% if block3.settings.tag-text_8 !=blank %}{% assign count = count | plus:1 %}{% endif %}
                        {% if block3.settings.tag-text_9 !=blank %}{% assign count = count | plus:1 %}{% endif %}
      				  {% endif %}	
      				{% endif %}
      				{% assign professions_count = count  %}
      			{%- endfor -%}
      			<button class="buta" onclick="myFunction()" id="myBtn">{{professions_count}} more professions</button>
      			{% endif %}
      		{% endif %}
      {%- endfor -%}
      
    </div>
    
    {% if section.settings.button_link != blank %}
    <div class="mt-5 artlogo-blue-btn">
      <a href="{% if section.settings.button_link == blank %}javascript:void(0);{% else %}{{ section.settings.button_link }}{% endif %}" class="popup-youtube">
        <img src="https://cdn.shopify.com/s/files/1/0594/4639/5086/files/play_icon_in_button.png?v=1637173130" /> {{ section.settings.button_label }}
      </a>
    </div>
    {% endif %}
    
  </div>
</section>


{% schema %}
  {
    "name": "Tag Section",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        },
        {
          "type": "text",
          "id": "button_label",
          "default": "Button label",
          "label": "Video label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Video link"
        }
	],
	"blocks": [
	  {
        "type": "tag-block",
        "name": "tag-block",
        "settings": [
		  {
              "type": "text",
              "id": "tag-text_1",
              "label": "Add Text 1"
          },
          {
              "type": "url",
              "id": "tag-link_1",
              "label": "Add Link 1"
          },
          {
              "type": "text",
              "id": "tag-text_2",
              "label": "Add Text 2"
          },
          {
              "type": "url",
              "id": "tag-link_2",
              "label": "Add Link 2"
          },
          {
              "type": "text",
              "id": "tag-text_3",
              "label": "Add Text 3"
          },
          {
              "type": "url",
              "id": "tag-link_3",
              "label": "Add Link 3"
          },
          {
              "type": "text",
              "id": "tag-text_4",
              "label": "Add Text 4"
          },
          {
              "type": "url",
              "id": "tag-link_4",
              "label": "Add Link 4"
          },
          {
              "type": "text",
              "id": "tag-text_5",
              "label": "Add Text 5"
          },
          {
              "type": "url",
              "id": "tag-link_5",
              "label": "Add Link 5"
          },
          {
              "type": "text",
              "id": "tag-text_6",
              "label": "Add Text 6"
          },
          {
              "type": "url",
              "id": "tag-link_6",
              "label": "Add Link 6"
          },
		  {
              "type": "text",
              "id": "tag-text_7",
              "label": "Add Text 7"
          },
          {
              "type": "url",
              "id": "tag-link_7",
              "label": "Add Link 7"
          },
          {
              "type": "text",
              "id": "tag-text_8",
              "label": "Add Text 8"
          },
          {
              "type": "url",
              "id": "tag-link_8",
              "label": "Add Link 8"
          },
          {
              "type": "text",
              "id": "tag-text_9",
              "label": "Add Text 9"
          },
          {
              "type": "url",
              "id": "tag-link_9",
              "label": "Add Link 9"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Tag Section"
      }
    ]
  }
{% endschema %}
